/* layout.css */

/* Header styles */
header {
	display: flex;
	align-items: center;
	/* Center items vertically */
	background: #B0A695;
	/* Header background color */
	padding: 10px;
	/* Padding around header */
	
}

nav {
	margin-left: 20px;
	/* Adjust as needed */
}

/* Navigation styles */
nav ul {
	list-style-type: none;
	/* Remove default list style */
	display: flex;
	/* Flexbox for horizontal navigation */
	padding: 0;
	/* Remove padding */
	margin: 0;
	/* Remove margin */
}

nav ul li {
	margin-left: 20px;
	/* Space between nav items */
}

nav ul li a {
	text-decoration: none;
	color: #fff;
	/* Change link color */
}

nav ul li a:hover {
	color: #776B5D;
	/* Change color on hover */
}
.grid-layout {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}
